<!-- Launch file for ROSBuzz -->

<launch>
		<node name="rosbuzz_node" pkg="rosbuzz" type="rosbuzz_node" respawn="false" output="screen" >	
		<rosparam file="/home/ivan/catkin_ws/src/rosbuzz/launch/launch_config/solo.yaml"/>
		<param name="bzzfile_name" value="/home/ivan/catkin_ws/src/rosbuzz/src/testalone.bzz" />
        <param name="rcclient" value="true" /> 
		<param name="rcservice_name" value="/buzzcmd" />
		<param name="in_payload" value="/inMavlink"/>
		<param name="out_payload" value="/outMavlink"/>
		<param name="xbee_status_srv" value="/xbee_status"/>
		<param name="stand_by" value="$(env ROS_WS)/src/ROSBuzz/src/stand_by.bo"/>
		</node>
		
</launch>
